<div class="header-featured" id="header-home"> </div>
<div id="banner-wrapper">
<div style="background-color: black; height: 100px; padding-top: 25px;">
	<h1 id="MainAdvert" style="color: white; text-align: center">Looking For Affordable Duct or Blower Door Testing?</h1>
	</div>
	<div id="banner" class="container">
		<div style="margin-top: 50px;"></div>
		<blockquote style="border-left: 0px;">We service all of <strong>Rhode Island and Eastern Connecticut</strong> by providing comprehensive Duct, Blower Door and Combustion Appliance Zone testing (CAZ) for homeowners and contractors at an affordable price. 
		</blockquote>
		<blockquote style="border-left: 0px;">
			Whether you are a prospective homeowner looking to evaluate the condition of a house you are about to purchase, or a contractor that requires a blower door test for a Certificate of Occupancy, contact us for a quote or to set up an appointment.
		</blockquote>
		
		<%= link_to('CONTACT US', contact_path, class: 'btn btn-primary') %>

		<div style="margin-bottom: 75px;"></div>
	</div>
</div>

<div id="wrapper">
	<div id="featured-wrapper">
		<div id="featured" class="container">
			<div class="column1">
				<div class="title">
					<h2><%= image_tag("/BPIsingle.png", height: '150') %></h2>
				</div>
				<p style="color: white;">Building Performance Institute (BPI&reg) is the most recognized authority for certification of building performance professionals in the United States. You can review our credentials by visiting: <%= link_to("BPI Pro Site", "http://bpi.org/individual_locator.aspx") %> and accessing the Pro site.</p>
			</div>
			<div class="column2">
				<div class="title">
					<h2><%= image_tag("/DET.jpg", height: '150') %></h2>
				</div>
				<p style="color: white;">Home Energy Partners&reg provides training that parallels that of BPI&reg in regard to duct and envelope testing. We hold a certification as a Duct & Envelope Tightness Verification Technician as well.</p>
			</div>
		</div>
	</div>

<!--
<div id="banner-wrapper">
	<div id="banner" class="container">
		<h1></h1>
		<p style="border-bottom: 1px solid white; margin-bottom: 50px;"></p>
		<blockquote>We service all of <strong>Rhode Island and Eastern Connecticut</strong> by providing comprehensive duct, blower door and combustion appliance zone testing for homeowners and contractors at an affordable price.
		</blockquote>
		<blockquote>
			Whether you are a prospective homeowner looking to evaluate the condition of a house you are about to purchase, or a contractor that requires a blower door test for a Certificate of Occupancy, contact us for a quote or to set up an appointment.
		</blockquote>
		
		<%= link_to('CONTACT US', contact_path, class: 'btn btn-success') %>
	</div>
</div>

-->